#root {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

header {
  padding: 20px;
  background: #f1eded;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
  max-width: 1480px;
  margin: 0 auto;

  .open-cart-btn {
    width: 40px;
    height: 40px;
    background: transparent;
    background: url("assets/shopping-cart-outline-svgrepo-com.svg") center/contain no-repeat;
    border: none;
    position: relative;

    .pizza-counter {
      background: grey;
      padding: 5px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      top: -5px;
      right: -5px;
    }
  }

  .cart {
    position: absolute;
    background: #f1eded;
    padding: 20px;
    top: 80px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 20px;

    .options {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 500px;
      overflow-y: auto;
    }

    &.show {
      display: flex;
    }

    .option {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      border-bottom: 1px solid #000;

      .pizza-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
      }

      .remove-btn {
        width: 30px;
        height: 30px;
        background: url("assets/trash-can-10416.svg") center/contain no-repeat;
        border: none;
      }
    }

    .order {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .sum {
        display: flex;
        justify-content: space-between;
      }

      .btn-row {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 12px 24px;

  &:hover {
    background: #e2e2e2;
  }

  &:active {
    background: #d3d3d3;
  }
}

.pizzas-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 100px;

  .pizza-card {
    max-width: 400px;
    border: 1px solid #000;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
    }

    .txt {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .btn {
      font-size: 24px;
      margin: 20px 0;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  cursor: move;
  width: 300px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  margin-top: 10px;
}

button {
  cursor: pointer;
}