@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Noto Sans", sans-serif;
}

.btn {
  background: transparent;
  border: 1px solid #000;
  border-radius: 40px;
  padding: 12px 24px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background: #e2e2e2;
  }

  &:active {
    background: #d3d3d3;
  }
}

button:disabled {
  cursor: not-allowed;
}

input {
  padding: 12px 24px;
  border-radius: 40px;
  border: 1px solid #000;
}

