@media screen and (max-width: 767px) {
    header {
        padding: 10px 20px;

        .logo {
            width: 60px;
            height: 60px;
        }
        .desktop-nav {
            display: none;
        }
        .desktop-btn {
            display: none;
        }
        .burger-btn {
            display: block;
        }

        .cart {
            width: 100%;

            .close-btn {
                display: block;
                margin: 0 auto;
            }

            .options .option .pizza-info .pizza-name {
                max-width: 175px;
                font-size: 16px;
            }
            .options .option .change {
                gap: 10px;
            }
        }
    }

    .pizza-list-title {
        .title {
            h2 {
                font-size: 30px;
            }
        }
    }
    
    .modal {
        height: 100vh;
        width: 100%;
        padding: 20px 20px;
        gap: 10px;

        h3 {
            font-size: 25px;
        }

        form {
            .ingredients h4 {
                margin-bottom: 10px;
            }
            
            .ingredients .checkboxes {
                grid-template-columns: 170px 170px;
                justify-content: space-between;

                .ingredient {
                    padding-left: 0;
                }
            }
        }
    }
}
